@import "./variables.css";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--color-gray-1);
	background: var(--color-dark-blue);
	padding: var(--size-l);
}

a {
	color: inherit;
	text-decoration: none;
}
