.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 60px);
}

.appInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--size-xl) var(--size-l);
}

@media screen and (max-width: 550px) {
	.appInfo {
		padding: var(--size-l) var(--size-m);
	}
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: var(--size-m);
}

.header {
	width: 100%;
	padding-bottom: var(--size-s);
	display: flex;
	justify-content: flex-end;
}
