.wrapper {
	padding-bottom: var(--size-xl);
}

.title {
	text-align: center;
	font-size: 40px;
	font-weight: var(--font-weight-semi-bold);
}

.subTitle {
	text-align: center;
	color: var(--color-gray-4);
	padding-top: var(--size-xxs);
}
