.commentList {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.commentCard {
	width: 100%;
	padding: var(--size-m);
}

.backgroundLight {
	background: var(--color-slate-blue);
}

.commentInner {
	display: flex;
	max-width: 575px;
	margin: 0 auto;
}

.avatarWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: var(--size-l);
	height: var(--size-l);
	margin-right: var(--size-m);
	background: linear-gradient(
		var(--color-dark-blue),
		var(--color-super-dark-blue)
	);
}

.backgroundTeal {
	background: var(--color-teal);
}
