.formWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	width: 716px;
}

@media screen and (max-width: 800px) {
	.form {
		width: 100%;
	}
}

.inputWrapper {
	display: flex;
	align-items: center;
	padding: var(--size-xs);
	background: var(--color-slate-blue);
	border: 1px solid var(--color-dark-blue);
	border-radius: var(--border-radius-semi-rounded);
	box-shadow: var(--ring-offset-shadow, 0 0 transparent),
		var(--ring-shadow, 0 0 transparent), var(--shadow);
}

.textArea {
	width: 100%;
	height: 24px;
	max-height: 100px;
	font: unset;
	resize: none;
	background: transparent;
	border: 1px solid var(--color-slate-blue);
	display: block;
	color: var(--color-gray-1);
}

.textArea:focus {
	outline: unset;
}

.button {
	display: flex;
	align-items: center;
	font: unset;
	background: transparent;
	border: 1px solid var(--color-slate-blue);
	border-radius: var(--border-radius-semi-rounded);
	color: var(--color-gray-4);
	padding: var(--size-xs);
	cursor: pointer;
}

.button:hover {
	background: var(--color-super-dark-blue);
}

.warningText {
	font-size: var(--size-s);
	color: var(--color-gray-4);
	padding: var(--size-s) 0 var(--size-s);
	text-align: center;
}

.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
